@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
}

body {
    color: var(--color-primary-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

address {
    font-style: normal;
}

.nav-link {
    text-decoration: none;
    color: var(--color-primary-light);
}

.nav-link:hover {
    color: var(--color-brand-light);
    font-weight: 600;
}

.order-button {
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
    font-weight: 600;
}

.order-button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* header */

/* end header */

/* main */

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* main section */

.main-title {
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.main-title .accent {
    color: var(--color-brand-light);
}

/* traditions-section */

.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}

.advantages-item {
    font-weight: 300;
    font-size: 20px;
}

.text-accent {
    color: var(--color-brand-light);
    font-weight: 600;
}

.traditions-text span {
    text-transform: uppercase;
}

/* chef-section */

.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* formats-section */

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* contacts-section */

/* end main */

/* footer */

.address-link {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-primary-light);
}

.address-link:hover {
    color: var(--color-brand-light);
    font-weight: 600;
}

.address-copyright {
    font-size: 14px;
    color: #A18268;
}

/* end footer */