/* FONTS */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2")
    format("woff2");
}

/* VARIABLES */
:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-secondary-dark: #a18268;
  --color-secondary-light: #cfcfbc;
}

/* BASE */
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* BUTTON */
.button {
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 8px;
  border: solid 2px var(--color-brand-light);
  background-color: var(--color-brand-light);
  font-size: 18px;
  color: var(--color-primary-light);
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* NAVIGATION */
.nav-link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* HEADER */

/* SECTIONS BASE */
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.accent-hero {
  color: var(--color-brand-light);
}

.accent-text-light {
  color: var(--color-brand-light);
  font-weight: 600;
}

.accent-text-dark {
  color: var(--color-brand-dark);
}

.uppercase-text {
  text-transform: uppercase;
}

.section {
  padding: 48px 0;
}

/* HERO */
.hero-section {
  padding: 272px 0;
}

/* ADVANTAGES */
.advantages-section{
  padding: 16px 0;
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* TADITIONS */
.traditions-section {
  padding-top: 96px;
}

.traditions-title {
  margin-bottom: 42px;
}

/* CHEFS */
.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* FORMATS */
.formats-title {
  margin-bottom: 80px;
}

.formats-list {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* CONTACTS */
.contacts-title {
  margin-bottom: 16px;
}

.policy-agree {
  font-size: 12px;
}

.policy-agree-link {
  color: var(--color-primary-dark);
}

/* FOOTER */
.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: 300;
}
.copyright {
  color: var(--color-secondary-dark);
  font-size: 14px;
}
