.section-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
}

.centered {
  text-align: center;
}

.accent-text-light {
  color: var(--color-brand-light);
  font-weight: 600;
}

.accent-text-dark {
  color: var(--color-brand-dark);
}

.uppercase-text {
  text-transform: uppercase;
}

.section {
  padding: 48px 0;
}