.traditions-section {
  font-size: 16px;

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    padding-top: 96px;
  }

  &__title {
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 42px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }

  &__content {
    max-width: 680px;
  }

  &__image {
    display: none;
    border-radius: 400px 400px 0 0;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__text {
    &--limited {
      max-width: 342px;
    }
  }
}